
.brand-logo {
    font-family: 'Baloo', sans-serif;
    font-weight: 700;
    letter-spacing: .1rem;
}

.navbar-fixed {
    position: fixed;
}

.nav-opaque {
    background-color: rgba(255,255,255,0.9) !important;
    transition: .5s linear all;
}

.nav-opaque .nav-wrapper .brand-logo {
    color: black;
}

nav.nav-opaque ul a {
    color: black;
}

nav, .nav-translucent {
    background-color: rgba(0,0,0,0.4);
    transition: .5s linear all;
}

.jumbotron {
    position: relative;
    height: 60vh;
    background: url("../public/berkeley.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.center-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 80%;
}

.jumbotron-title {
    color: white;
    font-size: 5em;
    font-weight: 700;
    text-align: center;
    text-shadow: 0 0 15px rgba(0,0,0,0.8);
}

.jumbotron-subtitle {
    color: white;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    font-size: 3em;
    text-align: center;
}

footer.page-footer {
    background-color: rgba(0,0,0,0.8);
}

@media only screen and (max-width: 700px) {
  .jumbotron {
      height: 100vh;
  }
  .jumbotron-title {
    font-size: 3em;
  }
  .jumbotron-subtitle {
    font-size: 2em;
  }
}

.card .card-title {
  font-weight: 400;
  text-shadow: 0 0 5px rgba(0,0,0,0.8);
}
